app-navbar{
    margin-bottom: 10px;
}
.contenido{
    display: flex;
    justify-content: center;
    //border: 1px solid black;
    max-width: 1400px;
    margin: 10px auto;
    min-height: 750px;
}
